<footer class="bg-dark text-center text-lg-start text-white mt-auto">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-3">
        <!-- Left -->
        <div class="me-2">
            <span>© 2022 Copyright: pgkwon1</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="https://www.instagram.com/hik.jin/" target="_blank" class="text-white me-2">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://github.com/pgkwon1" target="_blank" class="text-white me-2">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://pgkwon1.tistory.com" target="_blank" class="text-white me-2">
                <i class="fa-solid fa-blog"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <section class="bg-dark text-center text-lg-start text-white mt-auto">
        쉐플은 실제 음원이 아닌 유튜브에서 음악을 재생하고 있습니다.
    </section>
</footer>
<script charset="utf-8" type="text/javascript" src="https://www.youtube.com/player_api"></script> 
