<footer class="bg-dark text-center text-lg-start text-white mt-auto">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-3">
        <!-- Left -->
        <div class="me-5">
            <span>© 2022 Copyright: pgkwon1</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="https://www.instagram.com/hik.jin/" target="_blank" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://github.com/pgkwon1" target="_blank" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
</footer>
<script charset="utf-8" type="text/javascript" src="http://www.youtube.com/player_api"></script> 
