<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascripts/custom.js"></script>

<div class="container">
    <% if (playlist.length > 0) {   
        let index = 0 
    %> 
        <% for (let list of playlist) { %>
        <div class="row cant d-flex justify-content-center align-items-center playlist">
            <div class="col-md-6">
                <div style="" class="p-5 card">
                    <iframe class="play_frame"
                    src="https://www.youtube.com/embed/<%-list.first_music%>?enablejsapi=1&version=3&playerapiid=ytplayer&modestbranding=1&controls=0&showinfo=0"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; 
                    clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture"
                    allowfullscreen style="width:100%;
                    height:100%;"></iframe>
        
                </div>

            </div>
            <div class="col-md-6">
            <div class="p-5 card">
                <div class="d-flex justify-content-between p-3 music">
                    <div class="d-flex flex-column">
                        <i class="fa fa-music color"></i>
                        <% if (list.music_list) { %>
                            <ul class="list-group">
                            <% for (let music of list.music_list) { %>
                                <li class="list-group-item play" data-youtube="<%=music.youtube_link%>" data-index="<%=index%>" style="cursor:pointer;" aria-current="true"><%=music.title%></li>
                            <% } %>
                            </ul>
                        <% } else { %>
                            <ul class="list-group">
                                등록된 음악이 없습니다.
                            </ul>
                        <% } %>            
                    </div>
                    <i class="fa fa-check color"></i>
                </div>
                    <button class="btn btn-danger btn-block text-uppercase"><i class="fa fa-shopping-cart"></i>  My Playlist</button>        
            </div>          
            </div>      
        </div>
        <%  index++
        } %>
    <% } else { %>
        플레이리스트가 없습니다.
    <% } %>
            
    </div>