<html>
    <head>
        <title><%=title%></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0">
        <meta property="og:type" content="http://sharepl.net">
        <meta property="og:url" content="http://sharepl.net/">
        <meta property="og:title" content="쉐플(플레이리스트를 공유해요)">
        <meta property="og:description" content="쉐플은 플레이리스트를 공유하며 또 다른 사람의 플레이리스트를 감상할수 있는 웹페이지 입니다.">
        <meta property="og:image" content="http://sharepl.net/images/logo.png">
        <meta property="og:site_name" content="쉐플">
        <meta property="og:locale" content="ko_KR">
        <meta name="google-site-verification" content="0BuK3M-Huv44Y49LwDJskeTqWk4ClhLft8_NU3keu0M" />
        <meta name="naver-site-verification" content="5a00501403e6896a3f13ae9c6c1baaffb9f0f264" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous">

        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <script src="/javascripts/global.js"></script>    
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1833827605424482"
     crossorigin="anonymous"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1H65V1R2TE"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-1H65V1R2TE');
        </script>

    </head>
    
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light text-white " style="background-color :#72baef !important;">
            <div class="container">
                <a class="navbar-brand" href="/">쉐플</a>
                <button class="navbar-toggler border-0 text-white" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars border-0"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <% if (user_session.is_login === true) { %> 
                                <a class="nav-link" href="/member/logout">로그아웃</a>
                            <% } else { %>
                                <a class="nav-link" href="/member/login">로그인</a>
                            <% } %>
                        </li>
                    
                        <li class="nav-item">
                            <% if (user_session.is_login === true) { %> 
                                <a class="nav-link" href="/playlist/">플레이리스트</a>
                            <% } else {%>
                                <a class="nav-link" href="/member/register">회원가입</a>
                            <% } %>
                        </li>
                        <li class="nav-item">
                            <% if (user_session.is_login === true) { %> 
                                <a class="nav-link">마이페이지</a>
                            <% } %>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-white py-4 description" style="background-color :#72baef">
            <div class="container">
                나만의 플레이리스트를 공유해보세요!
            </div>

        </div>
        <div class="page-content note-has-grid ">
            <div class="alert alert-danger show-error" role="alert">
                
            </div>
            <div class="alert alert-success show-message" role="alert">
            
            </div>              
            <%- body %>
        <%- include('footer') %>
    </div>
    </body>
</html>