@font-face {
    font-family: "Nanum Gothic";
    font-style: bold;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nanumgothic/v13/PbykFmXiEBPT4ITbgNA5Cgm203Tq4JJWq209pU0DPdWuqxJFA4GNDCBYtw.0.woff2)
      format("woff2");
}
body {
    font-family: "Nanum Gothic", sans-serif;
}
  
.container { 
    margin-top:30px;
    margin-bottom:30px;

}
.playlist:nth-child(n+2) {
    margin-top:8em;
}
  
.show-error, .show-message {
    opacity: 0;
    transition: opacity 0.6s linear;
}
.music_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 1; /* 표시하고자 하는 라인 수 */
    -webkit-box-orient: vertical;

}