<section class="pb-4">
  <div class="bg-white border rounded-5" style="border-radius:18px;">
    
    <section class="p-5 w-100">
      <h2>CREATE</h2>
      <form method="post" action="store">
          <div class="form-group">
          <div class="row" style="margin-bottom:20px;">
                  <input type="text" name="youtube_link" class="form-control" placeholder="LINK" required>
          </div>
          <input type="hidden" name="genre" value="temp">
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
          <button type="submit" class="btn btn-success btn-lg btn-block">GO</button>
          <input type="reset" class="btn btn-danger btn-lg btn-block" value="RESET">

          </div>
      </form>
  </section>